<div class="container">

<div class="panel panel-defaul">
  <div class="panel-heading">add a Question and Answer</div>
  <div class="panel-body">
    <div class="input-group">
    <textarea class="form-control custom-control" row=3 style="resize:none" ng-model="rfi.rfi.question">
    </textarea>
    <textarea class="form-control custom-control" row=3 style="resize:none" ng-model="rfi.rfi.answer">
    </textarea>
    <textarea class="form-control custom-control" row=3 style="resize:none" ng-model="rfi.rfi.tags">
    </textarea>
    <span class="input-group-addon btn btn-primary" ng-click="rfi.postRfi()" ui-sref="rfi">Post</span>
  </div>
  </div>
</div>

<div class="panel panel-defaul">
    <div class="panel-heading">Questions $ Answers</div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Tags</th>
            <th>Added by</th>
          </tr>
        </thead>
        <tbody>
            <tr  ng-repeat="rfi in rfi.rfis">
                <td>{{rfi.question}}</td>
                <td>{{rfi.answer}}</td>
                <td>{{rfi.tags}}</td>
                <td>{{rfi.user.email}}</td> 
              </tr>
        </tbody>
        </table>
    </div>
  </div>
  
</div>
